* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.main-header {
    background-color: #9FC088;
    padding: 12px 124px;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 330px);
    text-align: right;
}
.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 12px 20px;
}

.main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
}

.main-nav__item a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

h1 {
    font-size: 2em;
    display: inline;
}